<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text">
            <name>apiKey</name>
            <label>Bugsnag API-Key</label>
        </element>
        <element required="false" type="boolean">
            <name>exceptionHandler</name>
            <label>Exception Handler aktivieren:</label>
        </element>
        <element required="false" type="boolean">
            <name>errorHandler</name>
            <label>Error Handler aktivieren:</label>
            <description>Diese Option beeinflusst stark die Performance!</description>
        </element>
        <element required="false" type="boolean">
            <name>anonymizeIp</name>
            <label>IP Adresse anonymisieren:</label>
        </element>
    </elements>
</config>
